/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.agents
E-Vendor_PRD_v2.0.0_FIXED.md
Form Permohonan mjd Pemasok_rev 3 (1).docx